#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 100px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 100px;
    width: 0;
    height: 100%;
    margin-left: -100px;
    overflow-y: auto;
    background: #ecf3f5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 100px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -100px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 20px 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.sidebar-nav li:hover {
    background-color: #ffffff;
}

.sidebar-nav li a {
    color: #3c9eee;
}

.sidebar-nav li img {
    height: 50px;
    border-radius: 50px;
}

.sidebar-nav li i {
    font-size: 30px;
    color: #3c9eee;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #2e2e2e;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #2d2d2d;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 100px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.navbar {
    border-width: 0px 0px 1px 0px;
    min-height: 50px;
}

.navbar ul {
    padding: 0px 20px;
}

.navbar-nav > li > a.logo {
    padding: 5px;
}

.navbar-nav > li > a {
    font-weight: bold;
}

.navbar-nav > li > a > i {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
    color: #3c9eee;
}

.menu-toggle {
    font-size: 22px;
    color: #999999;
}

.menu-toggle.menu-toggle-right {
    float: right;
    padding: 10px 15px;
}

.menu-toggle:hover {
    color: #7f7f7f;
}

.menu-toggle:focus {
    color: #7f7f7f;
}

.page-header {
    margin-top: 0px;
}

.page-header h3 {
    margin-top: 0px;
    color: #5e5e5e;
}

#map-canvas{
    height: 200px;
    width: 100%;
}

.navbar-brand {
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

.range-slider {
  margin: 0px;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #3c9eee;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #3c9eee;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #3c9eee;
}
.range-slider__range:active::-moz-range-thumb {
  background: #3c9eee;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

th {
    cursor: pointer;
}
