#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 100px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 100px;
    width: 0;
    height: 100%;
    margin-left: -100px;
    overflow-y: auto;
    background: #ecf3f5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 100px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -100px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 20px 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.sidebar-nav li:hover {
    background-color: #ffffff;
}

.sidebar-nav li a {
    color: #626262;
}

.sidebar-nav li img {
    height: 50px;
    border-radius: 50px;
}

.sidebar-nav li i {
    font-size: 30px;
    color: #3c9eee;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #4d4d4d;
    background: rgba(222, 222, 222, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #2e2e2e;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #2d2d2d;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 100px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.navbar {
    border-width: 0px 0px 1px 0px;
    min-height: 50px;
}

.navbar ul {
    padding: 0px 20px;
}

.navbar-nav > li > a.logo {
    padding: 5px;
}

.navbar-nav > li > a {
    font-weight: bold;
}

.navbar-nav > li > a > i {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
    color: #3c9eee;
}

.menu-toggle {
    font-size: 22px;
    color: #7f7f7f;
}

.menu-toggle:hover {
    color: #7f7f7f;
}

.menu-toggle:focus {
    color: #7f7f7f;
}

.page-header {
    margin-top: 0px;
}

.page-header h3 {
    margin-top: 0px;
    color: #5e5e5e;
}

#map-canvas{
    height: 200px;
    width: 100%;
}

.navbar-brand {
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
}


/* --- slider --- */

*, span.switch_base, span.switch_control {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

input + label {
    padding: 2px;
    width: 100px;
    height: 50px;
    background-color: #dddddd;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 100px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

span.switch_base, span.switch_control {
    display: block;
    position: absolute;
    content: ""; }

span.switch_base {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s; }

span.switch_control {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 42px;
    background-color: #dddddd;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    -ms-border-radius: 42px;
    -o-border-radius: 42px;
    border-radius: 42px;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s; }

input:checked + label {
    background-color: #8ce196; }

input:checked + label > span.switch_control {
    margin-left: 50px;
    background-color: #8ce196; }

input {
    display: none; }

.slider {
    width: 120px;
    margin: 9px 10px; }

.slider-form {
    padding-top: 8px;
}

.angular-sliderbar {
    background-color: #a9acb1;
    border-radius: 15px;
    display: block;
    height: 4px;
    position: relative;
    width: 100%; }

.angular-slider-ball {
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    height: 20px;
    left: 0;
    top: -9px;
    position: absolute;
    width: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }

.angular-slider-max {
    right: -30px; }

.angular-slider-min {
    left: -30px; }

.angular-slider-quantity {
    background-color: #017afd;
    border-radius: 15px;
    display: block;
    height: 100%;
    width: 0; }

.angular-slider-min, .angular-slider-max {
    color: #181819;
    font-size: 12px;
    height: 20px;
    padding-top: 4px;
    position: absolute;
    text-align: center;
    top: -9px;
    width: 24px; }

.disable {
    margin-left: 0px !important; }

th {
    cursor: pointer;
}
